<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MCAutoVote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <MCAutoVote.Properties.Settings>
            <setting name="Nickname" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastAction" serializeAs="String">
                <value>1753-01-01</value>
            </setting>
            <setting name="Hidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutovoteEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </MCAutoVote.Properties.Settings>
    </userSettings>
</configuration>
